---
# Role: apache_with_mod_ssl
# roles/apache_with_mod_ssl/tasks/main.yml
#
# Installs Apache
#
# Usage:
#    - { role: apache_with_mod_ssl }
#
# NOTE: this role does not configure an application Virtual Host, you must do that in an application setup role

- name: install apache2
  become: yes
  package: name={{ item }} state=present
  with_items:
      - apache2

- name: enable mod_ssl
  become: yes
  command: a2enmod ssl
  
- name: remove default site
  become: yes
  command: a2dissite 000-default
