#!/bin/bash
# removes 2-day-old backup
rm /opt/pg_backups/samvera_day_old.bak
# renames latest backup to day-old
mv /opt/pg_backups/samvera.bak /opt/pg_backups/samvera_day_old.bak
# does fresh backup of samvera database
pg_dump -U postgres {{ project_name }} > /opt/pg_backups/samvera.bak

# removes 2-day-old backup
rm /opt/pg_backups/fcrepo_day_old.bak
# renames latest backup to day-old
mv /opt/pg_backups/fcrepo.bak /opt/pg_backups/fcrepo_day_old.bak
# does fresh backup of samvera database
pg_dump -U postgres fcrepo > /opt/pg_backups/fcrepo.bak
