ServerName {{ hostname }}.{{ domain }}
<VirtualHost *:80>
  RewriteCond %{SERVER_NAME} ={{ hostname }}.{{ domain }}
  RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
