ServerName {{ hostname }}.{{ domain }}
<IfModule mod_ssl.c>
  <VirtualHost *:443>
    RewriteEngine On
    PassengerAppEnv production
    DocumentRoot /opt/tenejo/current/public
    AllowEncodedSlashes NoDecode

    <Directory /opt/tenejo/current/public>
      Options -MultiViews
      Require all granted
    </Directory>

    # Settings compatible with https://github.com/capistrano/maintenance
    <IfModule mod_rewrite.c>
      RewriteEngine On
      ErrorDocument 503 /system/maintenance.html
      # Return 503 error if the maintenance page exists.
      RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
      RewriteCond %{SCRIPT_FILENAME} !maintenance.html
      RewriteRule ^.*$ - [L,R=503]
    </IfModule>
    #letsencrypt will stick SSL cert paths and so on down here
  </VirtualHost>
</IfModule>
