---
# ROLE: packages
# roles/packages/tasks/main.yml
#
# updates, installs packages used by other installation/configuration tasks
#
- name: update apt cache
  become: yes
  # the package module still depends on the underlying yum & apt modules
  # where the commands differ, we can't use a single task across distros
  package: update_cache=yes
  when:
      (ansible_distribution == "Ubuntu") or
      (ansible_distribution == "Debian")

- name: install aptitude
  # on Debian Jessie and certain minimal Ubuntu builds aptitude is not installed
  # without aptitude installed `apt-get upgrade` fails
  become: yes
  package: name=aptitude state=installed
  when:
      (ansible_distribution == "Ubuntu") or
      (ansible_distribution == "Debian")

- name: upgrade apt packages
  become: yes
  # commands for upgrading differ - this is for apt
  package: upgrade=full
  when:
      (ansible_distribution == "Ubuntu") or
      (ansible_distribution == "Debian")

- name: install dev tools and libraries
  become: yes
  package: name={{ item }} state=installed
  with_items:
    - build-essential
    - git
    - git-core
    - curl
    - openssl
    - libreadline6
    - libreadline6-dev
    - zlib1g
    - zlib1g-dev
    - libssl-dev
    - libyaml-dev
    - libxml2-dev
    - libxslt-dev
    - libgmp3-dev
    - libreoffice
    - libmagickwand-dev
    - imagemagick
    - autoconf
    - libc6-dev
    - ncurses-dev
    - automake
    - libtool
    - bison
    - subversion
    - pkg-config
    - libcurl4-openssl-dev
    - libxvidcore-dev
    - redis-server
    - nodejs
    - xfsprogs
    - libsqlite3-dev
    - openjdk-8-jdk-headless
    - zip
