#
# Config file for collectd(1).
# Please read collectd.conf(5) for a list of options.
# http://collectd.org/
#

##############################################################################
# Global                                                                     #
#----------------------------------------------------------------------------#
# Global settings for the daemon.                                            #
##############################################################################

Hostname    "{{ hostname }}"
#FQDNLookup   true
FQDNLookup   false
#BaseDir     "/var/lib/collectd"
#PIDFile     "/var/run/collectd.pid"
#PluginDir   "/usr/lib64/collectd"
#TypesDB     "/usr/share/collectd/types.db"

#----------------------------------------------------------------------------#
# When enabled, plugins are loaded automatically with the default options    #
# when an appropriate <Plugin ...> block is encountered.                     #
# Disabled by default.                                                       #
#----------------------------------------------------------------------------#
#AutoLoadPlugin false

#----------------------------------------------------------------------------#
# When enabled, internal statistics are collected, using "collectd" as the   #
# plugin name.                                                               #
# Disabled by default.                                                       #
#----------------------------------------------------------------------------#
#CollectInternalStats false

#----------------------------------------------------------------------------#
# Interval at which to query values. This may be overwritten on a per-plugin #
# base by using the 'Interval' option of the LoadPlugin block:               #
#   <LoadPlugin foo>                                                         #
#       Interval 60                                                          #
#   </LoadPlugin>                                                            #
#----------------------------------------------------------------------------#
Interval     60

#MaxReadInterval 86400
#Timeout         2
#ReadThreads     5
#WriteThreads    5

# Limit the size of the write queue. Default is no limit. Setting up a limit is
# recommended for servers handling a high volume of traffic.
#WriteQueueLimitHigh 1000000
#WriteQueueLimitLow   800000

##############################################################################
# Logging                                                                    #
#----------------------------------------------------------------------------#
# Plugins which provide logging functions should be loaded first, so log     #
# messages generated when loading or configuring other plugins can be        #
# accessed.                                                                  #
##############################################################################

LoadPlugin syslog
#LoadPlugin python

##############################################################################
# LoadPlugin section                                                         #
#----------------------------------------------------------------------------#
# Lines beginning with a single `#' belong to plugins which have been built  #
# but are disabled by default.                                               #
#                                                                            #
# Lines beginning with `##' belong to plugins which have not been built due  #
# to missing dependencies or because they have been deactivated explicitly.  #
##############################################################################

LoadPlugin csv
LoadPlugin cpu
LoadPlugin memory
LoadPlugin swap
LoadPlugin df
LoadPlugin interface
LoadPlugin disk
LoadPlugin load
LoadPlugin processes
LoadPlugin protocols
LoadPlugin irq
LoadPlugin tcpconns
LoadPlugin thermal
LoadPlugin uptime
LoadPlugin write_http
#LoadPlugin write_graphite


##############################################################################
# Plugin configuration                                                       #
#----------------------------------------------------------------------------#
# In this section configuration stubs for each plugin are provided. A desc-  #
# ription of those options is available in the collectd.conf(5) manual page. #
##############################################################################

LoadPlugin logfile
<Plugin logfile>
    LogLevel info
#    File "/etc/collectd/collectd.log"
    File "/var/log/collectd.log"
    Timestamp true
    PrintSeverity false
</Plugin>

<Plugin syslog>
    LogLevel info
</Plugin>

<Plugin cpu>
    ReportByCpu true
    ReportByState true
    ValuesPercentage true
</Plugin>

<Plugin memory>
    ValuesAbsolute true
    ValuesPercentage true
</Plugin>

<Plugin swap>
    ReportByDevice true
    ReportBytes true
    ValuesAbsolute true
    ValuesPercentage true
</Plugin>

<Plugin df>
    MountPoint "/dev"
    ReportByDevice true
    ValuesAbsolute true
    ValuesPercentage true
    IgnoreSelected true
</Plugin>

<Plugin interface>
   IgnoreSelected true
</Plugin>

<Plugin disk>
   Disk ""
   IgnoreSelected true
   UdevNameAttr "DEVNAME"
</Plugin>

<Plugin load>
    ReportRelative true
</Plugin>

<Plugin processes>
     ProcessMatch "all" "(.*)"
</Plugin>

LoadPlugin write_http
<Plugin write_http>
 <Node "node-http-1">
  URL "{{ splunk_url }}"
  VerifyPeer false
  Header "Authorization: Splunk {{ splunk_authorization }}"
  Format "JSON"
  Metrics true
  StoreRates true
  VerifyPeer false
  VerifyHost false
 </Node>
</Plugin>
