---
# ROLE: ffmpeg
# roles/ffmpeg/tasks/main.yml

# Installs current version of FFMpeg and associated libraries
# Usage:
#    - { role: ffmpeg, ffmpeg_version: '3.4' }
#
# NOTE: this role largely follows the instructions at https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu

- name: remove package ffmpeg
  become: yes
  package: name=ffmpeg state=absent
  
- name: install ffmpeg libraries
  become: yes
  package: name={{ item }} state=present
  with_items:
      - autoconf
      - automake
      - build-essential
      - libass-dev
      - libfdk-aac-dev
      - libfreetype6-dev
      - libmp3lame-dev
      - libopus-dev
      - libsdl2-dev
      - libtheora-dev
      - libtool
      - libva-dev
      - libvdpau-dev
      - libvpx-dev
      - libvorbis-dev
      - libx264-dev
      - libx265-dev
      - libxcb1-dev
      - libxcb-shm0-dev
      - libxcb-xfixes0-dev
      - nasm
      - pkg-config
      - texinfo
      - wget
      - yasm
      - zlib1g-dev

- name: download ffmpeg source
  get_url:
    url: http://ffmpeg.org/releases/ffmpeg-{{ ffmpeg_version }}.tar.bz2
    dest: "install/ffmpeg-{{ ffmpeg_version }}.tar.bz2"
    force: no

- name: unzip ffmpeg source
  shell: tar -vxjf ffmpeg-{{ ffmpeg_version }}.tar.bz2 creates=ffmpeg-{{ ffmpeg_version }}/RELEASE warn=no
  args:
    chdir: install

- name: configure ffmpeg
  shell: ./configure 
              --extra-libs=-lpthread 
              --bindir="$HOME/bin" 
              --enable-gpl 
              --enable-libass 
              --enable-libfdk-aac 
              --enable-libfreetype 
              --enable-libmp3lame 
              --enable-libopus 
              --enable-libtheora 
              --enable-libvorbis 
              --enable-libvpx 
              --enable-libx264 
              --enable-libx265 
              --enable-nonfree
  args:
    chdir: install/ffmpeg-{{ ffmpeg_version }}

- name: make ffmpeg
  shell: make
  args:
    chdir: install/ffmpeg-{{ ffmpeg_version }}

- name: install ffmpeg
  become: yes
  shell: make install
  args:
    chdir: install/ffmpeg-{{ ffmpeg_version }}
