deploy ALL=(ALL) NOPASSWD: /bin/systemctl start sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl stop sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl restart sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl status sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl kill -s TSTP sidekiq
