deploy ALL=(ALL) NOPASSWD: /bin/systemctl start sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl stop sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl restart sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl status sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl kill -s TSTP sidekiq
deploy ALL=(ALL) NOPASSWD: /bin/systemctl start sidekiq.service
deploy ALL=(ALL) NOPASSWD: /bin/systemctl stop sidekiq.service
deploy ALL=(ALL) NOPASSWD: /bin/systemctl restart sidekiq.service
deploy ALL=(ALL) NOPASSWD: /bin/systemctl status sidekiq.service
deploy ALL=(ALL) NOPASSWD: /bin/systemctl kill -s TSTP sidekiq.service
